html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #000;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Header */

.belazi-header {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #191919;
}

.belazi-header-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #ffffff;
}

.belazi-header-wrapper img {
    width: 191px;
    height: 40px;
}

.header-open-days p {
    font-size: 15px;
    margin: 0;
    line-height: 2;
    text-align: center;
}

.header-open-days .open-times-text {
    font-weight: bold;
}

.header-tel-box {
    display: flex;
    align-items: center;
}

.header-tel-box-left {
    display: flex;
    flex-direction: column;
    margin-right: 28px;
}

.header-tel-box-left a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.header-tel-box-left .header-tel-link {
    margin-bottom: 12px;
}

.header-tel-button {
    display: block;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 18px 25px;
    background-color: #1669b3;
    cursor: pointer;
    text-transform: uppercase;
}

/* MAIN */

.belazi-main {
    flex-grow: 1;
}

.belazi-main section {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Original tracks section */

.original-tracks-section {
    background-image: url("../img/track.png");
}

.original-tracks-wrapper {
    width: 550px;
    padding: 100px 100px 120px;
    background-color: #f7b516;
}

.original-tracks-heading {
    margin-top: 0;
    margin-bottom: 45px;
    font-size: 40px;
    line-height: 1.4;
    font-weight: 900;
    text-transform: uppercase;
}

.original-tracks-deliver {
    font-size: 25px;
    font-weight: 800;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 100px;
}

.original-track-features-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.original-tracks-features-item {
    padding-left: 56px;
    position: relative;
    z-index: 1;
}

.original-tracks-features-item:not(:last-child) {
    margin-bottom: 42px;
}

.original-tracks-features-item::before {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    content: "";
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.original-tracks-features-item:nth-child(1)::before {
    width: 25px;
    height: 30px;
    background-image: url("../img/piggy-bank.png");
}

.original-tracks-features-item:nth-child(2)::before {
    width: 30px;
    height: 24px;
    background-image: url("../img/delivery-truck-silhouette.png");
}

.original-tracks-features-item:nth-child(2)::before {
    width: 30px;
    height: 24px;
    background-image: url("../img/delivery-truck-silhouette.png");
}

.original-tracks-features-item:nth-child(3)::before {
    width: 30px;
    height: 30px;
    background-image: url("../img/election-event-on-a-calendar-with-star-symbol.png");
}

.original-tracks-features-item:nth-child(4)::before {
    width: 23px;
    height: 30px;
    background-image: url("../img/medal.png");
}

/* Get with email section */

.get-with-email {
    background-image: url("../img/big-track.png");
}

.get-with-email-wrapper {
    padding: 100px 15px;
    text-align: right;
}

.get-email-heading {
    max-width: 550px;
    margin-left: auto;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 30px;
    line-height: 1.2;
}

.get-email-box {
    max-width: 730px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}

.get-input {
    width: 350px;
    display: block;
    padding: 25px;
    background-position: right 30px top 50%;
    background-repeat: no-repeat;
    border: none;
    background-color: rgb(242, 242, 242);
}

.get-email-input {
    background-image: url("../img/mail.png");
    background-size: 20px 18px;
    margin-right: 30px;
}

.get-tel-input {
    background-image: url("../img/call-answer.png");
    background-size: 20px 20px;
}