html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #000;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Header */

.belazi-header {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #191919;
}

.belazi-header-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #ffffff;
}

.belazi-header-wrapper img {
    width: 191px;
    height: 40px;
}

.header-open-days p {
    font-size: 15px;
    margin: 0;
    line-height: 2;
    text-align: center;
}

.header-open-days .open-times-text {
    font-weight: bold;
}

.header-tel-box {
    display: flex;
    align-items: center;
}

.header-tel-box-left {
    display: flex;
    flex-direction: column;
    margin-right: 28px;
}

.header-tel-box-left a,
.details-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.header-tel-box-left .header-tel-link {
    margin-bottom: 12px;
}

.header-tel-button {
    display: block;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 18px 25px;
    background-color: #1669b3;
    cursor: pointer;
    text-transform: uppercase;
}

/* MAIN */

.belazi-main {
    flex-grow: 1;
}

.belazi-main-sections {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Original tracks section */

.original-tracks-section {
    background-image: url("../img/track.png");
}

.original-tracks-wrapper {
    width: 550px;
    padding: 100px 100px 120px;
    background-color: #f7b516;
}

.original-tracks-heading {
    margin-top: 0;
    margin-bottom: 45px;
    font-size: 40px;
    line-height: 1.4;
    font-weight: 900;
    text-transform: uppercase;
}

.original-tracks-deliver {
    font-size: 25px;
    font-weight: 800;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 100px;
}

.original-track-features-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.original-tracks-features-item {
    padding-left: 56px;
    position: relative;
    z-index: 1;
}

.original-tracks-features-item:not(:last-child) {
    margin-bottom: 42px;
}

.original-tracks-features-item::before {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    content: "";
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.original-tracks-features-item:nth-child(1)::before {
    width: 25px;
    height: 30px;
    background-image: url("../img/piggy-bank.png");
}

.original-tracks-features-item:nth-child(2)::before {
    width: 30px;
    height: 24px;
    background-image: url("../img/delivery-truck-silhouette.png");
}

.original-tracks-features-item:nth-child(2)::before {
    width: 30px;
    height: 24px;
    background-image: url("../img/delivery-truck-silhouette.png");
}

.original-tracks-features-item:nth-child(3)::before {
    width: 30px;
    height: 30px;
    background-image: url("../img/election-event-on-a-calendar-with-star-symbol.png");
}

.original-tracks-features-item:nth-child(4)::before {
    width: 23px;
    height: 30px;
    background-image: url("../img/medal.png");
}

/* Get with email section */

.get-with-email {
    background-image: url("../img/big-track.png");
}

.get-with-email-wrapper {
    padding: 100px 15px;
    text-align: right;
}

.get-email-heading {
    max-width: 550px;
    margin-left: auto;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 30px;
    line-height: 1.2;
}

.get-email-box {
    max-width: 730px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
}

.get-input {
    width: 350px;
    display: block;
    padding: 25px 55px 25px 25px;
    background-position: right 30px top 50%;
    background-repeat: no-repeat;
    border: none;
    background-color: #f2f2f2;
    margin-bottom: 30px;
    transition: box-shadow 0.3s ease;
}

.get-email-input {
    background-image: url("../img/mail.png");
    background-size: 20px 18px;
    margin-right: 30px;
}

.get-tel-input {
    background-image: url("../img/call-answer.png");
    background-size: 20px 20px;
}

.get-email-button-box {
    display: flex;
    align-items: center;
}

.get-email-text {
    position: relative;
    z-index: 1;
    max-width: 250px;
    margin: 0;
    font-size: 14px;
    line-height: 1.2;
    margin-right: 30px;
    padding-right: 60px;
}

.get-email-text::after {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-image: url("../img/clock.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
}

.main-button {
    display: inline-block;
    width: 370px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 17px;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.main-button:focus,
.get-input:focus {
    outline: none;
    box-shadow: 0 0 5px 3px #222;
}

.get-email-button {
    background-color: #1866af;
}

.get-email-button:hover {
    background-color: rgba(24, 102, 175, 0.9);
}

/* Hurry section */

.belazi-section {
    padding-top: 96px;
    padding-bottom: 96px;
    text-align: center;
    color: #ffffff;
}

.hurry-section,
.sales-section {
    background-color: #08243e;
}

.belazi-section-heading {
    font-size: 36px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 26px;
    font-weight: 900;
}

.belazi-section-text {
    max-width: 390px;
    margin: 0 auto 98px;
    font-size: 20px;
    line-height: 1.2;
}

.belazi-section-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hurry-section-item {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hurry-section-item::before {
    width: 100px;
    height: 100px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-bottom: 52px;
    content: "";
}

.hurry-section-item:nth-child(1)::before {
    background-image: url("../img/engine.png");
}

.hurry-section-item:nth-child(2)::before {
    background-image: url("../img/dump-truck.png");
}

.hurry-section-item:nth-child(3)::before {
    background-image: url("../img/calendar.png");
}

.hurry-section-item:nth-child(4)::before {
    background-image: url("../img/forma.png");
}

/* Searching deatails section */

.details-section {
    background-image: url("../img/sea-track.png");
}

.details-section .belazi-section-heading {
    font-size: 30px;
}

.details-section .belazi-section-text {
    max-width: 670px;
}

.details-section-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 56px;
}

.details-section-form input {
    margin-bottom: 0;
}

.price-button {
    background-color: #f7b516;
}

.details-section p:nth-of-type(2) {
    margin-bottom: 25px;
}

.details-section-text {
    font-size: 14px;
    line-height: 1.2;
    margin-top: 0;
}

.details-link {
    font-size: 30px;
}

/* Garantie section */

.garantie-section {
    color: #000000;
    background-color: #ffffff;
}

.garantie-heading {
    max-width: 790px;
    margin: 0 auto 100px;
}

.garantie-section-item {
    width: 295px;
}

.garantie-section-definition {
    margin-top: 0;
    margin-bottom: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.garantie-section-definition::before {
    display: block;
    width: 230px;
    height: 300px;
    background-size: contain;
    background-position: center center;
    margin-bottom: 40px;
    content: "";
}

.garantie-section-item:nth-child(1) .garantie-section-definition::before {
    background-image: url("../img/document.png");
}

.garantie-section-item:nth-child(2) .garantie-section-definition::before {
    background-image: url("../img/fabric.jpg");
}

.garantie-section-item:nth-child(3) .garantie-section-definition::before {
    background-image: url("../img/motors.jpg");
}

.garantie-section-link {
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #8f8f8f;
}

/* Sales section */

.sales-section .belazi-section-heading {
    max-width: 800px;
    margin: 0 auto 95px;
}

.sales-section-item {
    width: 245px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sales-section-item::before {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    font-weight: bold;
    font-size: 30px;
    content: "";
    border: 2px solid #ffffff;
    margin-bottom: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}

.sales-section-item:nth-child(1)::before {
    content: "10%";
}

.sales-section-item:nth-child(2)::before {
    content: "20%";
}

.sales-section-item:nth-child(3)::before {
    background-image: url("../img/delivery-truck.png");
    background-size: 56px 33px;
}

.sales-section-item:nth-child(4)::before {
    background-image: url("../img/telemarketer.png");
    background-size: 35px 39px;
}

/* Questions-section */

.questions-section,
.sklad {
    background-color: #0b3554;
}

.questions-section-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.questions-section-left {
    text-align: left;
}

.questions-list {
    padding-left: 27px;
}

.questions-item {
    padding-left: 30px;
    margin-bottom: 55px;
}

.questions-item:not(:last-child) {
    margin-bottom: 50px;
}

.questions-link {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-decoration-color: #678194;
    transition: color 0.3s ease,
    text-decoration-color 0.3s ease;
}

.questions-link:hover {
    color: #579eff;
    text-decoration-color: transparent;
}

.questions-item-active {
    position: relative;
    z-index: 1;
}

.questions-item-active .question-link-answer {
    opacity: 0;
    visibility: hidden;
    display: flex;
    position: absolute;
    z-index: 1;
    top: 47px;
    width: 350px;
    padding: 15px 15px 18px;
    background-color: #ffffff;
    align-items: start;
    box-shadow: 2px 2px 10px 2px #222;
    transition: opacity 0.3s ease,
        visibility 0.3s ease;
}

.questions-item-active .question-link-answer::before {
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 10px;
    transform: translate(50%, -10px);
    width: 16px;
    height: 16px;
    border-bottom: 14px solid #ffffff;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    content: "";
}

.questions-item-active:hover .question-link-answer {
    opacity: 1;
    visibility: visible;
}

.answer-content {
    margin-right: 25px;
}

.answer-text {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0;
}

.answer-text:nth-of-type(1) {
    margin-bottom: 15px;
}

.remove-button-img {
    display: block;
    width: 11px;
    height: 10px;
}

.question-reload-btn {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    color: #ffffff;
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.question-reload-btn::before {
    display: block;
    width: 18px;
    height: 20px;
    background-image: url("../img/reload.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 19px;
    content: "";
}

.question-reload-btn:focus {
    outline: none;
    box-shadow: 0 0 5px 2px #ccc;
}

.eddies-car-wrapper {
    margin: 0;
    position: relative;
    z-index: 1;
}

.eddies-car-wrapper img {
    display: block;
    width: 570px;
    height: 390px;
}

.eddies-car-text {
    font-size: 14px;
    text-align: left;
    width: 230px;
    padding: 12px 19px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: #234e70;
}

/* Comfort working section */

.comfort-working {
    color: #000000;
}

.comfort-working .belazi-section-text {
    max-width: 100%;
}

.comfort-working-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}

.comfort-working-item::before {
    display: block;
    width: 88px;
    height: 88px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-bottom: 49px;
    content: "";
}

.comfort-working-item:nth-child(1)::before {
    background-image: url("../img/cash.png");
}

.comfort-working-item:nth-child(2)::before {
    background-image: url("../img/track-time.png");
}

.comfort-working-item:nth-child(3)::before {
    background-image: url("../img/doings-list.png");
}

/* Sklad section */

.sklad .belazi-section-text {
    max-width: 655px;
}

.slider-box {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.slider-button {
    width: 19px;
    height: 30px;
    position: absolute;
    z-index: 1;
    border: none;
    background: none;
    background-size: 19px 30px;
    background-position: center center;
    background-repeat: no-repeat;
}

.slider-left-btn {
    left: 30px;
    background-image: url("../img/slider-right.png");
}

.slider-right-btn {
    right: 30px;
    background-image: url("../img/slider-left.png");
}

.slider-list {
    margin: 0 -15px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.slider-item {
    max-width: 370px;
    margin-left: 15px;
    margin-right: 15px;
}

.slider-item img {
    display: block;
    width: 370px;
    height: 270px;
    margin-bottom: 5px;
}
